<p id= "p3">We understand that your vehicle is one of your most important assets. So
  whether you need manufacturer recommended maintenance or just a checkup to help
  keep your vehicle in top shape, you’re in capable hands with Cars-A-Plenty
  Technicians who are experts in preventive maintenance.</p>

<table id="t1" align="center">
  <tr>
    <td><img src="autoservice1.png" alt=""></td>
    <td><img src="autoservice2.png" alt=""></td>
    <td><img src="autoservice3.png" alt=""></td>
  </tr>
  <tr>
    <td>Oil Changes</td>
    <td>Battery Maintenance</td>
    <td>Engine Repairs</td>
  </tr>
  <tr>
    <td><img src="autoservice4.png" alt=""></td>
    <td><img src="autoservice5.png" alt=""></td>
    <td><img src="autoservice6.png" alt=""></td>
  </tr>
  <tr>
    <td>Brake Repair</td>
    <td>Transmission Services</td>
    <td>Tire Changes</td>
  </tr>
</table>
