<p id= "p2">Here is a list of all cars we are currently selling.</p>
<ul id= "list">
  <li>
  <img src="bmw535i2013.png" alt="">
  </li>
  <p class= "p1">2013 BMW 535i </p>
  <li>
  <img src="cadillaccts2014.png" alt="">
  </li>
  <p class= "p1">2014 Cadillac CTS</p>
  <li>
  <img src="cadillacsrx2013.png" alt="">
  </li>
  <p class= "p1">2013 Cadillac SRX</p>
  <li>
  <img src="hyundaiveloster2013.png" alt="">
  </li>
  <p class= "p1">2013 Hyundai Veloster</p>
  <li>
  <img src="jaguarxjilportfolio2013.png" alt="">
  </li>
  <p class= "p1">2013 Jaguar Portfolio</p>
  <li>
  <img src="lamborghinihuracan2015.png" alt="">
  </li>
  <p class= "p1">2015 Lamborghini Huracan</p>
  <li>
  <img src="lexusls4602012.png" alt="">
  </li>
  <p class= "p1">2012 Lexus LS 460</p>
  <li>
  <img src="mercedess5502015.png" alt="">
  </li>
  <p class= "p1">2015 Mercedes S550</p>
  <li>
  <img src="rollsroyceghost2010.png" alt="">
  </li>
  <p class= "p1">2010 Rolls Royce Ghost</p>
</ul>
