<p id= "home">Cars, cars, and more cars!!! We got plenty of cars, hence the name! We got cars
  for all types of people, from you young speedsters to you slow and steady oldies.
  We sell all different brands, we got Toyotas, Hondas, Fords, Mercedes, BMWs, and
  much much more! So come on down to our humble dealership where there are Cars-a-Plenty!</p>
